* {
  box-sizing: border-box;
}

.welcome {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #111;
  background-image: url("../images/rock_current.jpg");
  min-height: 600px;
  padding: 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: .6;
}

div {
  display: block;
}

.content {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .2s ease-out;
  z-index: 10;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.welcome h1, .welcome h2, .welcome h3, .welcome p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.welcome p {
  font-size: 22px;
}

.italics {
  font-style: italic;
}

p {
  margin: 0 0 22px;
  display: block;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 22px;
}

h1 {
  font-size: 48px;
  margin: .67em 0;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: .08em;
}



/*Navigation*/
.navbar-default {
  background-color: #fff;
  border-bottom-color: #e6e6e6;
}

.navbar {
  font-style: italic;
  min-height: 40px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

/*Links*/
/*.nav.navbar-nav.navbar-right li a {
    color: #c7c7c7;
    font-size: 14px;
}*/

/*.nav.navbar-nav.navbar-right li a:hover {
    color: #000;
}*/

/*Logo?*/
/*.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 57px;
    padding-top: 0;
}*/

/*#bg-cover {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

body {
  margin-top: 25px;
  padding-top: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%
  padding-top: 10px;
  display: inline-block;
}

.section {
  margin: 0px 0;
  width: 100%;
}


.section h1 {
  font: 55px/65px Helvetica, sans-serif;
  margin-top: 10px;
}

.section p {
  font: 15px/25px Helvetica, sans-serif;
}

#bio-header,#portfolio-header,#skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bio-header {
  height: 150px;
}

#portfolio-header {
  height: 650px;
}

#bio,#portfolio,#skills{
  padding-top: 10px;
  background-color: #fff
}

#bio {
  background-color: #ececec
}

.well {
  border: 0px;
  background-color: transparent;
}

#box1 img {
  padding: 0;
  height: 200px;
  width: auto;
}

#project1.row {
  vertical-align: middle;
}

#box2 {
  height: 250px;
  width: 250px;
  background-color: #b4b4b4;
  text-align: center;
  line-height: 250px;
}

#box2 p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.row {
  padding-bottom: 55px;
}

#photo {
  height: 250px;
  width: 250px;
  background-color: #b4b4b4;
  text-align: center;
  line-height: 250px;
}

#photo p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.row-hero {
  height: 100px;
}

.buffer-top {
  text-align: right;
  padding: 100px;
  height: 750px;
  color: white;
  font-family: Verdana;
}

#positions {
  font-size: 16px;
  letter-spacing: 0.4em;
}*/
