/*Navbar*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(51, 51, 51, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(26, 188, 156, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(26, 188, 156, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #1abc9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #1abc9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #1abc9c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
/*body*/
body {
  padding-top: 50px;
  height: 100%;
}
* {
  font-family: Raleway;
  box-sizing: border-box;
}
.row::after {
    clear: both;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
p {
  color: black;
}
span {
  color: #1abc9c;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
/*landing page*/
.parallax {
    /* The image used */
    background-image: url("../img/rock_current.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top {
  height: 700px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  background-color: rgba(0, 0, 0, 0.5);

}

/*Portfolio*/
.project-image {
  width: 360px;
  height: 190px;
  box-shadow: 0 4px 8px 6px rgba(0,0,0,0.2);
  overflow: hidden;
}

.section-title {
  color: #000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.sub-title {
  text-align: center;
}

.project-heading {
  color: #000;
  font-weight: 600;
}

#projects {
  padding-bottom: 5%;
}

#overlay {
  background: aqua;
  text-align: center;
  opacity: 0;
  padding: 45px 0 66px 0;
}

#git-link:hover #overlay{
  opacity: 0.5;
}

#project-link {
  color: #1abc9c;
}
/*About Me*/
.about {
  background-color: #dbdbdb;
  display: inline-block;
}
div#about.row {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
#photo-back {
  background-color: #1f1f1f;
  /*height: 500px;*/
  width: 50%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#photo {
  height: auto;
  width: 90%;
  border-radius: 100%;
}
.bio {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 380px;
  /*padding-right: 100px;*/
  line-height: 2em;
  font-size: 15px;
}

#bio {
  padding-right: 100px;
}

@media (max-width: 1000px) {
  #photo-back {
    width: 100%;
  }
  div#about.row {
    display: inline-block;
  }
}

/*Contact Me*/
.contact {
  text-align: center;
}
.social {
  list-style: none;
  font-size: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.social li {
  display: inline;
  text-align: center;
  padding: 10px;
}
